<div class="toggle-modal" role="dialog" data-modal="betaVersion">
    <div class="toggle-modal__box toggle-modal__box_p-none">
        <div class="toggle-modal__body toggle-modal__body_vert-center toggle-modal__body_white toggle-modal__body_pt-sm-50">
            <p class="toggle-modal__text_uppercase modal__text modal__text_bold">Версия приложения 1.1.0</p>
            <p class="modal__text modal__text_middle modal__text_light modal__text_grey">
                Это бета-версия приложения, в неё ещё вносятся изменения и дополнения.
                В последующих версиях вам будет предложено больше полезных функций.
            </p>
            <div class="modal__buttons">
                <button class="button button--green js-modal-close" role="button">
                    Закрыть
                </button>
            </div>
        </div>
    </div>
</div>
