<!--Оставить отзыв-->
<include src="./src/sections/components/modals/_leave-review.html"></include>

<!-- Сообщение об успешной или неуспешно отправке письма -->
<include src="./src/sections/components/modals/_success-message.html"></include>
<include src="./src/sections/components/modals/_unsuccess-message.html"></include>

<include src="./src/sections/components/modals/_request-call.html"></include>

<include src="./src/sections/components/modals/_inDeveloping-message.html"></include>

<include src="./src/sections/components/modals/_beta-message.html"></include>

<include src="./src/sections/components/modals/_form-pay.html"></include>


