<div class="toggle-modal" role="dialog" data-modal="inDeveloping">
    <div class="toggle-modal__box toggle-modal__box_p-none">
        <div class="toggle-modal__body toggle-modal__body_vert-center toggle-modal__body_white toggle-modal__body_pt-sm-50">
            <p class="toggle-modal__text_uppercase modal__text modal__text_bold">Раздел находится в разработке</p>
            <p class="modal__text modal__text_middle modal__text_light modal__text_grey">
                В скором времени Вы сможете воспользоваться новым функционалом личного кабинета.
            </p>
            <div class="modal__buttons">
                <button class="button button--green js-modal-close" role="button">
                    Закрыть
                </button>
            </div>
        </div>
    </div>
</div>
