<!-- Заказать звонок -->
<div class="modal" role="dialog" modal-close>
  <div class="modal__box modal__box_pt-sm-50" data-modal="1">
    <div class="modal__text">
      Вы действительно хотите, чтобы специалист связался с вами?
    </div>
    <div class="modal__buttons">
      <button class="button button--green" data-modal-button="2" role="button">
        Да
      </button>
      <button class="button button--red" role="button" modal-close>
        Нет, я отправлю свой запрос по e-mail
      </button>
    </div>
    <button class="modal__close" role="button" modal-close></button>
  </div>

  <div class="modal__box modal__box_pt-sm-50" data-modal="2">
    <div class="modal__text">
      Ожидайте звонок от специалиста в течение 1 рабочего дня
    </div>
    <div class="modal__buttons">
      <button class="button button--green" role="button" modal-close>
        Ок
      </button>
    </div>
    <button class="modal__close" role="button" modal-close></button>
  </div>
</div>
