<!-- Сообщения об успешных или не успешных отправках -->
<div class="toggle-modal toggle-modal__successfully" role="dialog" data-modal="3Success">
  <div class="toggle-modal__box toggle-modal__box_p-none">
    <div class="toggle-modal__body toggle-modal__body_white toggle-modal__body_pt-sm-50">
      <article role="article">
        <figure>
          <include src="./src/include/icons/common-icons/send-success-email.html"></include>
          <figcaption class="toggle-modal__text toggle-modal__title">Спасибо за Ваш отзыв!</figcaption>
          <figcaption class="toggle-modal__text toggle-modal__subtitle">Ответ будет предоставлен Вам на электронную почту в течении 3 рабочих дней.</figcaption>
        </figure>
      </article>
      <div class="modal__buttons">
        <button class="button button--green js-modal-close" role="button">
          Закрыть
        </button>
      </div>
    </div>
  </div>
  <button class="toggle-modal__close toggle-modal__close_sm-green js-modal-close" title="Закрыть" role="button"></button>
</div>

<div class="toggle-modal toggle-modal__successfully" role="dialog" data-modal="4Success">
  <div class="toggle-modal__box toggle-modal__box_p-none">
    <div class="toggle-modal__body toggle-modal__body_white toggle-modal__body_pt-sm-50">
      <article role="article">
        <figure>
          <include src="./src/include/icons/common-icons/send-success-email.html"></include>
          <figcaption class="toggle-modal__text toggle-modal__title">Новая задача успешно отправлена!</figcaption>
          <figcaption class="toggle-modal__text toggle-modal__subtitle">Ответ будет предоставлен Вам в течении 2 рабочих дней.</figcaption>
        </figure>
      </article>
      <div class="modal__buttons">
        <button class="button button--green js-modal-close" type="button" role="button">
          Закрыть
        </button>
      </div>
    </div>
  </div>
  <button class="toggle-modal__close toggle-modal__close_sm-green js-modal-close" title="Закрыть" type="button" role="button"></button>
</div>

<div class="toggle-modal toggle-modal__successfully" role="dialog" data-modal="5Success">
  <div class="toggle-modal__box toggle-modal__box_p-none">
    <div class="toggle-modal__body toggle-modal__body_white toggle-modal__body_pt-sm-50">
      <article role="article">
        <figure>
          <include src="./src/include/icons/common-icons/send-success-email.html"></include>
          <figcaption class="toggle-modal__text toggle-modal__title">Сообщение о новом деле успешно отправлено!</figcaption>
          <figcaption class="toggle-modal__text toggle-modal__subtitle">Ответ будет предоставлен Вам на электронную почту в течении 3 рабочих дней.</figcaption>
        </figure>
      </article>
      <div class="modal__buttons">
        <button class="button button--green js-modal-close" type="button" role="button">
          Закрыть
        </button>
      </div>
    </div>
  </div>
  <button class="toggle-modal__close toggle-modal__close_sm-green js-modal-close" title="Закрыть" type="button" role="button"></button>
</div>

<div class="toggle-modal toggle-modal__successfully" role="dialog" data-modal="6Success">
  <div class="toggle-modal__box toggle-modal__box_p-none">
    <div class="toggle-modal__body toggle-modal__body_white toggle-modal__body_pt-sm-50">
      <article role="article">
        <figure>
          <include src="./src/include/icons/common-icons/send-success-email.html"></include>
          <figcaption class="toggle-modal__text toggle-modal__title">Жалоба успешно отправлена!</figcaption>
          <figcaption class="toggle-modal__text toggle-modal__subtitle">Ответ будет предоставлен Вам на электронную почту в течении 3 рабочих дней.</figcaption>
        </figure>
      </article>
      <div class="modal__buttons">
        <button class="button button--green js-modal-close" type="button" role="button">
          Закрыть
        </button>
      </div>
    </div>
  </div>
  <button class="toggle-modal__close toggle-modal__close_sm-green js-modal-close" title="Закрыть" type="button" role="button"></button>
</div>
