<div class="toggle-modal toggle-modal__unsuccessfully" role="dialog" data-modal="">
    <div class="toggle-modal__box toggle-modal__box_p-none">
        <div class="toggle-modal__body toggle-modal__body_white toggle-modal__body_pt-sm-50">
            <article role="article">
                <figure>
                    <include src="./src/include/icons/common-icons/send-error-email.html"></include>
                    <figcaption class="toggle-modal__text toggle-modal__title">Возникла ошибка при отправке письма!</figcaption>
                    <figcaption class="toggle-modal__text toggle-modal__subtitle">Повторите попытку немного позднее.</figcaption>
                </figure>
            </article>
            <div class="modal__buttons">
                <button class="button button--green js-modal-close" type="button" role="button">
                    Закрыть
                </button>
            </div>
        </div>
    </div>
    <button class="toggle-modal__close toggle-modal__close_sm-green js-modal-close" title="Закрыть" type="button" role="button"></button>
</div>
