<nav class="breadcrumbs" role="navigation">
  <ul class="B_crumbBox">
    <li class="B_firstCrumb" itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb">
      <a class="B_homeCrumb" itemprop="url" rel="Home" href="http://stopdolg.ruyou.ru/">
        <span itemprop="title">Главная</span>
      </a>
    </li>
    <li class="B_lastCrumb" itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb">
      <a class="B_currentCrumb" itemprop="url" rel="Задачи" href="tasks.html">
        <span itemprop="title">Задачи</span>
      </a>
    </li>
  </ul>
</nav>