<script src="/assets/js/main.js"></script>
<script src="/assets/js/smooth.redirect.LOCAL.js"></script>
<script src="/assets/js/preloader.js"></script>
<script src="/assets/js/inDeveloping.js"></script>
<script src="/assets/js/scrolling.navbar.js"></script>
<script src="/assets/js/form.send.data.files.toggle.modals.js"></script>
<script src="/assets/js/beta.testing.message.js"></script>
<script src="/assets/js/components/close.message.js"></script>
<script src="/assets/js/backtop.js"></script>
<script src="/assets/js/request-call.js"></script>
<script src="/assets/js/menu.js"></script>
<script src="/assets/js/animation.js"></script>
<script src="/assets/js/promotion.banner.js"></script>
<script src="/assets/js/libraries/bootstrap-tour-standalone.js"></script>
<script src="/assets/js/jquery.form.styler/jquery.form.styler.min.js"></script>
<script src="/assets/js/jquery.form.styler/jquery.form.styler.init.js"></script>

<!--<script>
	(function(w,d,u){
		var s=d.createElement('script');s.async=true;s.src=u+'?'+(Date.now()/60000|0);
		var h=d.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h);
	})(window,document,'https://crm.stop-dolg.ru/upload/crm/site_button/loader_4_7hf8e5.js');
</script>
<div style="display:none" id="user-data" data-user=''></div>
<script src="/assets/js/chat.js?v=1.1"></script>-->
