<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Юридическая компания Стопдолг, помощь в списании долгов и защита прав заемщиков. Защита от коллекторов банков и МФО">
<meta name="keywords" content="Личный кабинет стопдолг, списать долги, списание долгов, Стопдолг, стоп долг, банкротство, банкротство физических лиц, помощь в списании долгов">
<meta name='author' content='ООО Правовые технологии'>
<meta name='copyright' content='ООО Правовые технологии'>
<meta name="Publisher-URL" content="https://lk.stop-dolg.ru/login.html">
<meta name="robots" content="all"/>
<meta name="robots" content="noindex, follow"/>
<meta property="og:type" content="website">
<meta property="og:locale" content="ru_RU">

<meta property="og:title" content="Стоп долг | Вход в личный кабинет">
<meta property="og:description" content="Юридическая компания Стопдолг, помощь в списании долгов и защита прав заемщиков. Защита от коллекторов банков и МФО">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Стоп долг | Вход в личный кабинет">
<meta name="twitter:description" content="Юридическая компания Стопдолг, помощь в списании долгов и защита прав заемщиков. Защита от коллекторов банков и МФО">

<meta name="apple-mobile-web-app-capable" content="on">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="lk.stop-dolg.ru">
<meta name="application-name" content="lk.stop-dolg.ru">
<meta name="msapplication-TileImage" content="/assets/images/favicon/ms-icon-144x144.png">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">
