<!DOCTYPE html>
<html lang="ru">
    <head>
        <include src="./src/sections/components/head/link.html"></include>
        <title>Стоп долг | Как общаться с коллекторами</title>
        <include src="./src/sections/components/head/meta.html"></include>
    </head>
    <body>

        <include src="./src/sections/header.html"></include>

        <main class="main" role="main">
            <div class="main__small">
                <section class="help" id="tabs" role="region">
                    <a href="/new-useful.html" class="info__back button button--back" role="link">
                        <svg width="16" height="29" viewBox="0 0 16 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2.02809 14.3428L15.3428 1.02809L14.6575 0.342773L0.657457 14.3428L14.6575 28.3428L15.3428 27.6575L2.02809 14.3428Z" fill="white"/>
                        </svg>
                        Вернуться
                    </a>

                    <!-- <div class="main__block main__block--tabs">
                        <div class="tabs">
                            <button class="tab__button" v-on:click="activetab=1" v-bind:class="[ activetab === 1 ? 'active' : '' ]">
                                Инструкции
                            </button>
                            <button class="tab__button" v-on:click="activetab=2" v-bind:class="[ activetab === 2 ? 'active' : '' ]">
                                Видеоуроки
                            </button>
                            <button class="tab__button" v-on:click="activetab=3" v-bind:class="[ activetab === 3 ? 'active' : '' ]">
                                Частые вопросы
                            </button>
                        </div>
                    </div> -->

                    <div class="tab__list">
                        <div class="main__block help__question">
                    <span class="help__title">
                        Как общаться с коллекторами
                    </span>
                            <div class="help__question-block">
                                <p class="help__text">
                                    Коллектор — это специалист по возврату просроченной задолженности. Кредиторы привлекают
                                    коллекторов,
                                    если вы не возвращаете долг или не вносите обязательные платежи вовремя. Иногда
                                    коллектор действует
                                    просто как агент по поручению кредитора, настоятельно напоминая вам, что нужно вернуть
                                    заем. А иногда
                                    может перекупить ваш долг — и тогда будет пытаться взыскать просроченную задолженность
                                    уже в свою
                                    пользу.
                                </p>
                                <p class="help__text">
                                    Бояться легальных коллекторов не стоит. Они не запугивают должника, чтобы он погасил
                                    кредит любой ценой,
                                    а лишь описывают возможные перспективы и вместе с вами ищут способ решить вопрос с
                                    долгами. Но несколько
                                    правил общения с коллекторами соблюдать все же стоит.При приеме документов секретарь
                                    должен проверить,
                                    все ли описанные в приложении копии присутствуют. Всегда просят показать паспорт и
                                    доверенность в
                                    ситуации, когда
                                </p>
                            </div>
                        </div>
                        <!-- <div class="main__block" v-if="activetab === 2">
                            <div class="grid">
                                <div class="grid__item">
                                    <div class="help__video-wrapper">
                                        <a href="https://youtu.be/xO8Cz-9qKTI" class="help__video-link" data-fancybox="gallery">
                                            <img src="https://lk.stop-dolg.ru/assets/cache_image/noimage_480x360_4d4.jpg" class="help__video"></img>
                                        </a>
                                    </div>
                                    <span class="help__video-text">
                                        Как написать юристу
                                    </span>
                                </div>
                                <div class="grid__item">
                                    <div class="help__video-wrapper">
                                        <a href="https://youtu.be/xO8Cz-9qKTI" class="help__video-link" data-fancybox="gallery">
                                            <img src="https://lk.stop-dolg.ru/assets/cache_image/noimage_480x360_4d4.jpg" class="help__video"></img>
                                        </a>
                                    </div>
                                    <span class="help__video-text">
                                        Как написать юристу
                                    </span>
                                </div>
                                <div class="grid__item">
                                    <div class="help__video-wrapper">
                                        <a href="https://youtu.be/xO8Cz-9qKTI" class="help__video-link" data-fancybox="gallery">
                                            <img src="https://lk.stop-dolg.ru/assets/cache_image/noimage_480x360_4d4.jpg" class="help__video"></img>
                                        </a>
                                    </div>
                                    <span class="help__video-text">
                                        Как написать юристу
                                    </span>
                                </div>

                                <div class="grid__item">
                                    <div class="help__video-wrapper">
                                        <a href="https://youtu.be/xO8Cz-9qKTI" class="help__video-link" data-fancybox="gallery">
                                            <img src="https://lk.stop-dolg.ru/assets/cache_image/noimage_480x360_4d4.jpg" class="help__video"></img>
                                        </a>
                                    </div>
                                    <span class="help__video-text">
                                        Как написать юристу
                                    </span>
                                </div>
                                <div class="grid__item">
                                    <div class="help__video-wrapper">
                                        <a href="https://youtu.be/xO8Cz-9qKTI" class="help__video-link" data-fancybox="gallery">
                                            <img src="https://lk.stop-dolg.ru/assets/cache_image/noimage_480x360_4d4.jpg" class="help__video"></img>
                                        </a>
                                    </div>
                                    <span class="help__video-text">
                                        Как написать юристу
                                    </span>
                                </div>
                                <div class="grid__item">
                                    <div class="help__video-wrapper">
                                        <a href="https://youtu.be/xO8Cz-9qKTI" class="help__video-link" data-fancybox="gallery">
                                            <img src="https://lk.stop-dolg.ru/assets/cache_image/noimage_480x360_4d4.jpg" class="help__video"></img>
                                        </a>
                                    </div>
                                    <span class="help__video-text">
                                        Как написать юристу
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="help__faq" v-if="activetab === 3">
                            <div class="acc">
                                <button class="help__button acc__button">
                                    Если 3 года не платить, то долги спишутся и без банкротства?
                                </button>
                                <div class="help__block acc__item">
                                    <p class="help__text">
                                        Это не так. В случае не оплаты, банк начислит штрафы и пени и через какое-то время зафиксирует в суде долг в 1.5-2 раза больше текущего остатка. Договор с банком является бессрочным, т.е. он не будет завершен, пока полностью не выплачена сумма, которую требует банк. Существует понятие рока исковой давности - 3 года, но в данном случае оно не действует (банки помнят про каждый кредит и всегда подают в суд до истечения этого срока)
                                    </p>
                                </div>
                            </div>

                            <div class="acc">
                                <button class="help__button acc__button">
                                    Какое имущество у меня могут забрать?
                                </button>
                                <div class="help__block acc__item">
                                    <p class="help__text">
                                        Это не так. В случае не оплаты, банк начислит штрафы и пени и через какое-то время зафиксирует в суде долг в 1.5-2 раза больше текущего остатка. Договор с банком является бессрочным, т.е. он не будет завершен, пока полностью не выплачена сумма, которую требует банк. Существует понятие рока исковой давности - 3 года, но в данном случае оно не действует (банки помнят про каждый кредит и всегда подают в суд до истечения этого срока)
                                    </p>
                                </div>
                            </div>

                            <div class="acc">
                                <button class="help__button acc__button">
                                    Для банкротства нужен долг более 500 тысяч?
                                </button>
                                <div class="help__block acc__item">
                                    <p class="help__text">
                                        Это не так. В случае не оплаты, банк начислит штрафы и пени и через какое-то время зафиксирует в суде долг в 1.5-2 раза больше текущего остатка. Договор с банком является бессрочным, т.е. он не будет завершен, пока полностью не выплачена сумма, которую требует банк. Существует понятие рока исковой давности - 3 года, но в данном случае оно не действует (банки помнят про каждый кредит и всегда подают в суд до истечения этого срока)
                                    </p>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </section>
            </div>

        </main>

        <include src="./src/sections/footer.html"></include>

        <include src="./src/sections/components/common-files.html"></include>

        <script src="/assets/js/fancybox.min.js"></script>

    </body>
</html>
